PSets/Tools/PSet2YamlConverter/PSet2YamlConverter/PSets/PSD_IFC4_TC1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- PSD: Property Set Definition XSD, ver. 20140206-->
<!-- edited by Yoshinobu Adachi, buildingSMART Model Support Group -->
<!-- updated by Tim Chipman, buildingSMART Model Support Group -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PropertySetDef">
		<xs:annotation>
			<xs:documentation>The top node element of Property Set Definition (PSD).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IfcVersion">
					<xs:annotation>
						<xs:documentation>Version information of IFC release and sub schema.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="version" type="xs:string">
							<xs:annotation>
								<xs:documentation>The version information of IFC, i.e., "2x3 TC1", "IFC4".</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="schema" type="xs:string">
							<xs:annotation>
								<xs:documentation>The sub schema name,  i.e., "IfcSharedBldgElements".</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Name" type="xs:string">
					<xs:annotation>
						<xs:documentation>The name of property set.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Definition" type="xs:string">
					<xs:annotation>
						<xs:documentation>The definition of property set  from buildingSMART.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Applicability" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The description of applicability and usecases, i.e., "IfcDoor entity", "Common Pset of Ifc...".</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ApplicableClasses" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The container element of applicable entity types.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClassName" type="xs:string" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The element of applicable entity type, i.e., "IfcWallStandardCase". The multiple value is accepted, and format is: "ENTYT_TYPE_1, ENTITY_TYPE_2, ...".</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ApplicableTypeValue" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The format of applicable type value is ENTITY_TYPE/PREDEFINED_TYPE. Multiple value is accepted, and format is: "TYPE_1 | TYPE_2 ...".</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PropertyDefs">
					<xs:annotation>
						<xs:documentation>The container element of property definition.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PropertyDef" type="PropertyDef" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The element of property definition.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PsetDefinitionAliases" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The container element of property set definition alias.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PsetDefinitionAlias" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>The element of property set definition in local language.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="lang" type="xs:string">
												<xs:annotation>
													<xs:documentation>The language code based on ISO 639-1 and ISO 3166-1 alpha-2 codes, i.e., "de-DE", "ja-JP", "fr-FR", "no-NO".</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ifdguid" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Globally Unique Identifier (GIUD) for the property set definition. The ID is referencing the IFD GUID.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="templatetype" default="NOTDEFINED">
				<xs:annotation>
					<xs:documentation>The property set template type.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NOTDEFINED"/>
						<xs:enumeration value="PSET_TYPEDRIVENONLY"/>
						<xs:enumeration value="PSET_TYPEDRIVENOVERRIDE"/>
						<xs:enumeration value="PSET_OCCURRENCEDRIVEN"/>
						<xs:enumeration value="PSET_PERFORMANCEDRIVEN"/>
						<xs:enumeration value="QTO_TYPEDRIVENONLY"/>
						<xs:enumeration value="QTO_TYPEDRIVENOVERRIDE"/>
						<xs:enumeration value="QTO_OCCURRENCEDRIVEN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PropertyDef">
		<xs:annotation>
			<xs:documentation>The element of property definition.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of property.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueDef">
				<xs:annotation>
					<xs:documentation>Not in use. This element is deprecated.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="MinValue">
							<xs:complexType>
								<xs:attribute name="value" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="MaxValue">
							<xs:complexType>
								<xs:attribute name="value" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="DefaultValue">
							<xs:complexType>
								<xs:attribute name="value" type="xs:string"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="Definition" type="xs:string">
				<xs:annotation>
					<xs:documentation>The definition of property.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameAliases">
				<xs:annotation>
					<xs:documentation>The container element of name alias.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NameAlias" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The name alias in local language.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="lang" type="xs:string">
											<xs:annotation>
												<xs:documentation>The language code based on ISO 639-1 and ISO 3166-1 alpha-2 codes, i.e., "de-DE", "ja-JP", "fr-FR", "no-NO".</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DefinitionAliases">
				<xs:annotation>
					<xs:documentation>The container element of definition alias.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DefinitionAlias" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The definition in local language.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="lang" type="xs:string">
											<xs:annotation>
												<xs:documentation>The language code based on ISO 639-1 and ISO 3166-1 alpha-2 codes, i.e., "de-DE", "ja-JP", "fr-FR", "no-NO".</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PropertyType" type="PropertyType">
				<xs:annotation>
					<xs:documentation>The container element of property type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="ifdguid" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Globally Unique Identifier for the property definition. The ID is referencing the IFD GUID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PropertyType">
		<xs:annotation>
			<xs:documentation>The element of property type.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="TypePropertySingleValue">
				<xs:annotation>
					<xs:documentation>The element of IfcPropertySingleValue. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DataType" type="DataType">
							<xs:annotation>
								<xs:documentation>The element of property data type.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="UnitType" type="UnitType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The element of property data unit.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TypePropertyEnumeratedValue">
				<xs:annotation>
					<xs:documentation>The element of IfcPropertyEnumeratedValue.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EnumList">
							<xs:annotation>
								<xs:documentation>The container element of enumeration list.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
									<xs:element name="EnumItem" type="xs:string">
										<xs:annotation>
											<xs:documentation>The enumeration item in uppercase.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="name" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>The name of enumeration, i.e., PEnum_*.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="ConstantList" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>The container element of enumeration constants with localized names and descriptions.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence minOccurs="0" maxOccurs="unbounded">
									<xs:element name="ConstantDef" type="ConstantDef"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TypePropertyBoundedValue">
				<xs:annotation>
					<xs:documentation>The element of IfcPropertyBoundedValue.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ValueRangeDef">
							<xs:annotation>
								<xs:documentation>The container element of bound value.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LowerBoundValue">
										<xs:annotation>
											<xs:documentation>The lower bound value.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="value" type="xs:string">
												<xs:annotation>
													<xs:documentation>The lower value.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="UpperBoundValue">
										<xs:annotation>
											<xs:documentation>The upper bound value.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="value" type="xs:string">
												<xs:annotation>
													<xs:documentation>The upper value.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DataType" type="DataType">
							<xs:annotation>
								<xs:documentation>The property data type.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="UnitType" type="UnitType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The property data unit.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TypePropertyTableValue">
				<xs:annotation>
					<xs:documentation>The element of IfcPropertyTableValue.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Expression" type="xs:string">
							<xs:annotation>
								<xs:documentation>The information about the expression for the derivation of defined values from the defining values.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DefiningValue">
							<xs:annotation>
								<xs:documentation>The list of defining values, which determine the defined values. This list shall have unique values only.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DataType" type="DataType">
										<xs:annotation>
											<xs:documentation>The defining value data type.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="UnitType" type="UnitType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The defining value unit.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Values" type="Values" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The container element of values.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DefinedValue">
							<xs:annotation>
								<xs:documentation>The defined values which are applicable for the scope as defined by the defining values.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DataType" type="DataType">
										<xs:annotation>
											<xs:documentation>Defined value data type.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="UnitType" type="UnitType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Defined value unit.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Values" type="Values" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Container of values.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TypePropertyReferenceValue">
				<xs:annotation>
					<xs:documentation>The element of IfcPropertyReferenceValue. </xs:documentation>
				</xs:annotation>
				<xs:complexType mixed="false">
					<xs:complexContent>
						<xs:extension base="ReferenceSelect">
							<xs:sequence>
								<xs:element name="DataType" type="DataType" minOccurs="0"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="TypePropertyListValue">
				<xs:annotation>
					<xs:documentation>The element of IfcPropertyListValue.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ListValue">
							<xs:annotation>
								<xs:documentation>The container element of list value.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="DataType" type="DataType">
										<xs:annotation>
											<xs:documentation>The list value data type.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="UnitType" type="UnitType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The list value unit.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Values" type="Values" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The container element of values.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TypeComplexProperty">
				<xs:annotation>
					<xs:documentation>The element of IfcComplexProperty.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PropertyDef" type="PropertyDef" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="name" type="xs:string">
						<xs:annotation>
							<xs:documentation>The name of complex property, i.e., "CP_*".</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DataType">
		<xs:annotation>
			<xs:documentation>The element of data type.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="type" default="IfcText">
			<xs:annotation>
				<xs:documentation>The property data type based on IfcValue (IfcMeasureValue, IfcSimpleValue, and IfcDerivedMeasureValue of IFC4 Official Release).</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="IfcAmountOfSubstanceMeasure"/>
					<xs:enumeration value="IfcAreaMeasure"/>
					<xs:enumeration value="IfcComplexNumber"/>
					<xs:enumeration value="IfcContextDependentMeasure"/>
					<xs:enumeration value="IfcCountMeasure"/>
					<xs:enumeration value="IfcDescriptiveMeasure"/>
					<xs:enumeration value="IfcElectricCurrentMeasure"/>
					<xs:enumeration value="IfcLengthMeasure"/>
					<xs:enumeration value="IfcLuminousIntensityMeasure"/>
					<xs:enumeration value="IfcMassMeasure"/>
					<xs:enumeration value="IfcNonNegativeLengthMeasure"/>
					<xs:enumeration value="IfcNormalisedRatioMeasure"/>
					<xs:enumeration value="IfcNumericMeasure"/>
					<xs:enumeration value="IfcParameterValue"/>
					<xs:enumeration value="IfcPlaneAngleMeasure"/>
					<xs:enumeration value="IfcPositiveLengthMeasure"/>
					<xs:enumeration value="IfcPositivePlaneAngleMeasure"/>
					<xs:enumeration value="IfcPositiveRatioMeasure"/>
					<xs:enumeration value="IfcRatioMeasure"/>
					<xs:enumeration value="IfcSolidAngleMeasure"/>
					<xs:enumeration value="IfcThermodynamicTemperatureMeasure"/>
					<xs:enumeration value="IfcTimeMeasure"/>
					<xs:enumeration value="IfcVolumeMeasure"/>
					<xs:enumeration value="IfcBoolean"/>
					<xs:enumeration value="IfcDate"/>
					<xs:enumeration value="IfcDateTime"/>
					<xs:enumeration value="IfcDuration"/>
					<xs:enumeration value="IfcIdentifier"/>
					<xs:enumeration value="IfcInteger"/>
					<xs:enumeration value="IfcLabel"/>
					<xs:enumeration value="IfcLogical"/>
					<xs:enumeration value="IfcReal"/>
					<xs:enumeration value="IfcText"/>
					<xs:enumeration value="IfcTime"/>
					<xs:enumeration value="IfcTimeStamp"/>
					<xs:enumeration value="IfcAbsorbedDoseMeasure"/>
					<xs:enumeration value="IfcAccelerationMeasure"/>
					<xs:enumeration value="IfcAngularVelocityMeasure"/>
					<xs:enumeration value="IfcAreaDensityMeasure"/>
					<xs:enumeration value="IfcCompoundPlaneAngleMeasure"/>
					<xs:enumeration value="IfcCurvatureMeasure"/>
					<xs:enumeration value="IfcDoseEquivalentMeasure"/>
					<xs:enumeration value="IfcDynamicViscosityMeasure"/>
					<xs:enumeration value="IfcElectricCapacitanceMeasure"/>
					<xs:enumeration value="IfcElectricChargeMeasure"/>
					<xs:enumeration value="IfcElectricConductanceMeasure"/>
					<xs:enumeration value="IfcElectricResistanceMeasure"/>
					<xs:enumeration value="IfcElectricVoltageMeasure"/>
					<xs:enumeration value="IfcEnergyMeasure"/>
					<xs:enumeration value="IfcForceMeasure"/>
					<xs:enumeration value="IfcFrequencyMeasure"/>
					<xs:enumeration value="IfcHeatFluxDensityMeasure"/>
					<xs:enumeration value="IfcHeatingValueMeasure"/>
					<xs:enumeration value="IfcIlluminanceMeasure"/>
					<xs:enumeration value="IfcInductanceMeasure"/>
					<xs:enumeration value="IfcIntegerCountRateMeasure"/>
					<xs:enumeration value="IfcIonConcentrationMeasure"/>
					<xs:enumeration value="IfcIsothermalMoistureCapacityMeasure"/>
					<xs:enumeration value="IfcKinematicViscosityMeasure"/>
					<xs:enumeration value="IfcLinearForceMeasure"/>
					<xs:enumeration value="IfcLinearMomentMeasure"/>
					<xs:enumeration value="IfcLinearStiffnessMeasure"/>
					<xs:enumeration value="IfcLinearVelocityMeasure"/>
					<xs:enumeration value="IfcLuminousFluxMeasure"/>
					<xs:enumeration value="IfcLuminousIntensityDistributionMeasure"/>
					<xs:enumeration value="IfcMagneticFluxDensityMeasure"/>
					<xs:enumeration value="IfcMagneticFluxMeasure"/>
					<xs:enumeration value="IfcMassDensityMeasure"/>
					<xs:enumeration value="IfcMassFlowRateMeasure"/>
					<xs:enumeration value="IfcMassPerLengthMeasure"/>
					<xs:enumeration value="IfcModulusOfElasticityMeasure"/>
					<xs:enumeration value="IfcModulusOfLinearSubgradeReactionMeasure"/>
					<xs:enumeration value="IfcModulusOfRotationalSubgradeReactionMeasure"/>
					<xs:enumeration value="IfcModulusOfSubgradeReactionMeasure"/>
					<xs:enumeration value="IfcMoistureDiffusivityMeasure"/>
					<xs:enumeration value="IfcMolecularWeightMeasure"/>
					<xs:enumeration value="IfcMomentOfInertiaMeasure"/>
					<xs:enumeration value="IfcMonetaryMeasure"/>
					<xs:enumeration value="IfcPHMeasure"/>
					<xs:enumeration value="IfcPlanarForceMeasure"/>
					<xs:enumeration value="IfcPowerMeasure"/>
					<xs:enumeration value="IfcPressureMeasure"/>
					<xs:enumeration value="IfcRadioActivityMeasure"/>
					<xs:enumeration value="IfcRotationalFrequencyMeasure"/>
					<xs:enumeration value="IfcRotationalMassMeasure"/>
					<xs:enumeration value="IfcRotationalStiffnessMeasure"/>
					<xs:enumeration value="IfcSectionModulusMeasure"/>
					<xs:enumeration value="IfcSectionalAreaIntegralMeasure"/>
					<xs:enumeration value="IfcShearModulusMeasure"/>
					<xs:enumeration value="IfcSoundPowerLevelMeasure"/>
					<xs:enumeration value="IfcSoundPowerMeasure"/>
					<xs:enumeration value="IfcSoundPressureLevelMeasure"/>
					<xs:enumeration value="IfcSoundPressureMeasure"/>
					<xs:enumeration value="IfcSpecificHeatCapacityMeasure"/>
					<xs:enumeration value="IfcTemperatureGradientMeasure"/>
					<xs:enumeration value="IfcTemperatureRateOfChangeMeasure"/>
					<xs:enumeration value="IfcThermalAdmittanceMeasure"/>
					<xs:enumeration value="IfcThermalConductivityMeasure"/>
					<xs:enumeration value="IfcThermalExpansionCoefficientMeasure"/>
					<xs:enumeration value="IfcThermalResistanceMeasure"/>
					<xs:enumeration value="IfcThermalTransmittanceMeasure"/>
					<xs:enumeration value="IfcTorqueMeasure"/>
					<xs:enumeration value="IfcVaporPermeabilityMeasure"/>
					<xs:enumeration value="IfcVolumetricFlowRateMeasure"/>
					<xs:enumeration value="IfcWarpingConstantMeasure"/>
					<xs:enumeration value="IfcWarpingMomentMeasure"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="UnitType">
		<xs:annotation>
			<xs:documentation>The element of unit type.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="type" default="USERDEFINED">
			<xs:annotation>
				<xs:documentation>The unit type based on IfcDerivedUnit(IfcDerivedUnitEnum) and IfcNamedUnit(IfcUnitEnum) of IFC4 Official Release.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ACCELERATIONUNIT"/>
					<xs:enumeration value="ANGULARVELOCITYUNIT"/>
					<xs:enumeration value="AREADENSITYUNIT"/>
					<xs:enumeration value="COMPOUNDPLANEANGLEUNIT"/>
					<xs:enumeration value="DYNAMICVISCOSITYUNIT"/>
					<xs:enumeration value="HEATFLUXDENSITYUNIT"/>
					<xs:enumeration value="INTEGERCOUNTRATEUNIT"/>
					<xs:enumeration value="ISOTHERMALMOISTURECAPACITYUNIT"/>
					<xs:enumeration value="KINEMATICVISCOSITYUNIT"/>
					<xs:enumeration value="LINEARFORCEUNIT"/>
					<xs:enumeration value="LINEARMOMENTUNIT"/>
					<xs:enumeration value="LINEARSTIFFNESSUNIT"/>
					<xs:enumeration value="LINEARVELOCITYUNIT"/>
					<xs:enumeration value="MASSDENSITYUNIT"/>
					<xs:enumeration value="MASSFLOWRATEUNIT"/>
					<xs:enumeration value="MODULUSOFELASTICITYUNIT"/>
					<xs:enumeration value="MODULUSOFSUBGRADEREACTIONUNIT"/>
					<xs:enumeration value="MOISTUREDIFFUSIVITYUNIT"/>
					<xs:enumeration value="MOLECULARWEIGHTUNIT"/>
					<xs:enumeration value="MOMENTORINERTIAUNIT"/>
					<xs:enumeration value="PLANARFORCEUNIT"/>
					<xs:enumeration value="ROTATIONALFREQUENCYUNIT"/>
					<xs:enumeration value="ROTATIONALSTIFFNESSUNIT"/>
					<xs:enumeration value="SHEARMODULUSUNIT"/>
					<xs:enumeration value="SPECIFICHEATCAPACITYUNIT"/>
					<xs:enumeration value="THERMALADMITTANCEUNIT"/>
					<xs:enumeration value="THERMALCONDUCTANCEUNIT"/>
					<xs:enumeration value="THERMALRESISTANCEUNIT"/>
					<xs:enumeration value="THERMALTRANSMITTANCEUNIT"/>
					<xs:enumeration value="TORQUEUNIT"/>
					<xs:enumeration value="VAPORPERMEABILITYUNIT"/>
					<xs:enumeration value="VOLUMETRICFLOWRATEUNIT"/>
					<xs:enumeration value="CURVATUREUNIT"/>
					<xs:enumeration value="HEATINGVALUEUNIT"/>
					<xs:enumeration value="IONCONCENTRATIONUNIT"/>
					<xs:enumeration value="LUMINOUSINTENSITYDISTRIBUTIONUNIT"/>
					<xs:enumeration value="MASSPERLENGTHUNIT"/>
					<xs:enumeration value="MODULUSOFLINEARSUBGRADEREACTIONUNIT"/>
					<xs:enumeration value="MODULUSOFROTATIONALSUBGRADEREACTIONUNIT"/>
					<xs:enumeration value="PHUNIT"/>
					<xs:enumeration value="ROTATIONALMASSUNIT"/>
					<xs:enumeration value="SECTIONAREAINTEGRALUNIT"/>
					<xs:enumeration value="SECTIONMODULUSUNIT"/>
					<xs:enumeration value="SOUNDPOWERLEVELUNIT"/>
					<xs:enumeration value="SOUNDPOWERUNIT"/>
					<xs:enumeration value="SOUNDPRESSURELEVELUNIT"/>
					<xs:enumeration value="SOUNDPRESSUREUNIT"/>
					<xs:enumeration value="TEMPERATUREGRADIENTUNIT"/>
					<xs:enumeration value="TEMPERATURERATEOFCHANGEUNIT"/>
					<xs:enumeration value="THERMALEXPANSIONCOEFFICIENTUNIT"/>
					<xs:enumeration value="WARPINGCONSTANTUNIT"/>
					<xs:enumeration value="WARPINGMOMENTUNIT"/>
					<xs:enumeration value="ABSORBEDDOSEUNIT"/>
					<xs:enumeration value="AMOUNTOFSUBSTANCEUNIT"/>
					<xs:enumeration value="AREAUNIT"/>
					<xs:enumeration value="DOSEEQUIVALENTUNIT"/>
					<xs:enumeration value="ELECTRICCAPACITANCEUNIT"/>
					<xs:enumeration value="ELECTRICCHARGEUNIT"/>
					<xs:enumeration value="ELECTRICCONDUCTANCEUNIT"/>
					<xs:enumeration value="ELECTRICCURRENTUNIT"/>
					<xs:enumeration value="ELECTRICRESISTANCEUNIT"/>
					<xs:enumeration value="ELECTRICVOLTAGEUNIT"/>
					<xs:enumeration value="ENERGYUNIT"/>
					<xs:enumeration value="FORCEUNIT"/>
					<xs:enumeration value="FREQUENCYUNIT"/>
					<xs:enumeration value="ILLUMINANCEUNIT"/>
					<xs:enumeration value="INDUCTANCEUNIT"/>
					<xs:enumeration value="LENGTHUNIT"/>
					<xs:enumeration value="LUMINOUSFLUXUNIT"/>
					<xs:enumeration value="LUMINOUSINTENSITYUNIT"/>
					<xs:enumeration value="MAGNETICFLUXDENSITYUNIT"/>
					<xs:enumeration value="MAGNETICFLUXUNIT"/>
					<xs:enumeration value="MASSUNIT"/>
					<xs:enumeration value="PLANEANGLEUNIT"/>
					<xs:enumeration value="POWERUNIT"/>
					<xs:enumeration value="PRESSUREUNIT"/>
					<xs:enumeration value="RADIOACTIVITYUNIT"/>
					<xs:enumeration value="SOLIDANGLEUNIT"/>
					<xs:enumeration value="THERMODYNAMICTEMPERATUREUNIT"/>
					<xs:enumeration value="TIMEUNIT"/>
					<xs:enumeration value="VOLUMEUNIT"/>
					<xs:enumeration value="USERDEFINED"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="currencytype" default="USERDEFINED">
			<xs:annotation>
				<xs:documentation>The currency type based on IfcMonetaryUnit(ISO 4217), for example CNY, EUR, GBP, JPY, USD. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ReferenceSelect">
		<xs:annotation>
			<xs:documentation>The element of reference select.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="reftype">
			<xs:annotation>
				<xs:documentation>The reference type based on SELECT Type IfcObjectReferenceSelect.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="IfcMaterialDefinition"/>
					<xs:enumeration value="IfcPerson"/>
					<xs:enumeration value="IfcOrganization"/>
					<xs:enumeration value="IfcPersonAndOrganization"/>
					<xs:enumeration value="IfcExternalReference"/>
					<xs:enumeration value="IfcTimeSeries"/>
					<xs:enumeration value="IfcAddress"/>
					<xs:enumeration value="IfcAppliedValue"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="guid" type="xs:string">
			<xs:annotation>
				<xs:documentation>The GUID for reference.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="URL" type="xs:string">
			<xs:annotation>
				<xs:documentation>The URL for reference.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="libraryname" type="xs:string">
			<xs:annotation>
				<xs:documentation>The library name for reference.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sectionref" type="xs:string">
			<xs:annotation>
				<xs:documentation>The section information of reference.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Values">
		<xs:annotation>
			<xs:documentation>The element of values.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ValueItem" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConstantDef">
		<xs:annotation>
			<xs:documentation>The element of enumeration constaint definition.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the enumeration constant.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Definition" type="xs:string">
				<xs:annotation>
					<xs:documentation>The definition of the enumeration constant.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameAliases">
				<xs:annotation>
					<xs:documentation>The container element of name alias.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="NameAlias" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The name alias in local language.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="lang" type="xs:string">
											<xs:annotation>
												<xs:documentation>The language code based on ISO 639-1 and ISO 3166-1 alpha-2 codes, i.e., "de-DE", "ja-JP", "fr-FR", "no-NO".</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DefinitionAliases">
				<xs:annotation>
					<xs:documentation>The container element of definition alias.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DefinitionAlias" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The definition in local language.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="lang" type="xs:string">
											<xs:annotation>
												<xs:documentation>The language code based on ISO 639-1 and ISO 3166-1 alpha-2 codes, i.e., "de-DE", "ja-JP", "fr-FR", "no-NO".</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
